html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom right, #8e2de2, #ff6ec4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
}

hr {
  width: 100vh;
}

body>.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

footer {
  padding: 5px;
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

@media (max-width: 768px) {
  body {
    display: block;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  footer {
    margin-top: 30px;
  }
}

button {
  text-transform: uppercase;
  padding: 65px 75px;
  margin: 20px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: x-large;
}

.a {
  background-image: url(./assets/Images/tom1.png);
}

.s {
  background-image: url(./assets/Images/tom2.png);
}

.d {
  background-image: url(./assets/Images/tom3.png);
  border: 2px solid black;
}

.f {
  background-image: url(./assets/Images/tom4.png);
  border: 2px solid black;
}

.j {
  background-image: url(./assets/Images/snare.png);
  border: 2px solid black;
  color: black;
}

.k {
  background-image: url(./assets/Images/kick.png);
  border: 2px solid black;
}

.l {
  background-image: url(./assets/Images/crash.png);
  border: 2px solid black;
  color: black;
}